body {
  background-color: whitesmoke;
  margin-left: 150px;
  margin-right: 150px;
  background-attachment: fixed;
  width: max-content;
}
.clearfix {
  overflow: auto;
}
hr {
  color: lightgrey;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

div.a {
  line-height: 50%;
  text-align: right;
}

#wrap {
  width: 1000px;
}

.block {
}

div.b {
  text-align: left;
  line-height: 50%;
  width: 480px;
  height: 300px;
  float: left;
}

div.c {
  text-align: right;
  line-height: 50%;
  width: 480px;
  height: 300px;
  float: right;
}

#motto {
  color: black;
  list-style-type: none;
}

.favorite {
  font-weight: bold;
}

.conf {
  width: 500px;
}

div {
  background-color: #fff9ee;
  padding: 10px;
  margin: 10px;
  border: 1px solid #b3b1b1;
  color: maroon;
  font-size: 16px;
}

.main {
  width: 1000px;
}

#script {
  background-color: rgb(201, 231, 236);
  text-align: left;
  font-size: 25px;
}

.borderImg {
  border-radius: 1000px;
}

img {
  width: 270px;
  float: left;
}

h2 {
  text-decoration: underline;
  font-size: 20px;
}
div.e {
  line-height: 40%;
}
#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  padding: 10px 15px 10px 15px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}
