/* ######### DEFAULTS ######### */

nav,
header,
footer {
  display: inline-block;
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
  width: 100%;
}

#header {
  text-align: center;
  font-family: "Judson", serif;
  /* font-size: 30px; */
  padding: 15px;
  margin: 5px;
  box-shadow: 2px;
}

.clearfix {
  padding-left: 50px;
  padding-right: 50px;
  background-image: url(headerImg.png);
  overflow: auto;
  font-size: 19px;
  font-family: "Judson", serif;
}

.a p {
  text-shadow: 0px 0px 20px black;
}

div {
  padding: 10px;	
  margin: 10px;	
  border: none;	
  color: maroon;	
  /* font-size: 13px;	 */
}

.page-block {
  background-color: white;
  padding: 24px;
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: none;
}

.borderImg {
  border-radius: 50%;
  width: 300px;
}

.test {	
  margin: 5px;	
  padding: 5px;	
}

#news {
  width: 50%;
  border: none;
}

#contact {
  width: 70%;
  float: left;
  border: none;
}

#content-wrap {
  border-color: none;
}

#left-sidebar {
  width: 30%;
  float: left;
  border-color: none;
  padding: 5px;
  margin: 5px;
}

#content {
  border-color: none;
  padding-left: 35%;
  border: none;
  border-color: aquamarine;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

input[type="text"]{
    font-size: 15px;
    width: 320px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#footer {
  clear: both;
}


/* ######### NAV BAR ######## */

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.topnav {
  text-align: center;
  color: #fff;
  float: right;
}

.topnav li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
}

.topnav li a {
    display: inline-block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px;
}

.topnav li a:hover {
    color: white;
    border: 1px solid white;
}

.topnav li a:visited {
  color: #fff;
  border: 1px solid white;
}

.topnav li.active {
  border: 1px solid white;
}

.topnav li.dropdownIcon {
    display: none;
}

/* ########### PAGES ############ */

#home-page, #skills-page, #education-page, #employment-page, #languages-page, #contact-page {
  box-shadow: 4px -1px 5px 0px black;
  font-size: 26px;
  color: black;
  border: 1px solid black;
  background-color: rgb(245, 243, 243);
}

#list1, #list2, #list3 {
  list-style: none;
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  font-style: italic;
}

.skillsItem {
  list-style: none;
  text-align: left;
  font-size: 28px;
}

#skillsTitle, #educationTitle, #employmentTitle, #languagesTitle, #contactTitle {
  text-align: right;
  font-size: 35px;
  color: rgb(61, 61, 61);
}

#education-page {
  text-align: left;
}

#list4, #list5 {
  list-style: none;
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
}


/* ########### MOBILE ########### */

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

ul.topnav li.dropdownIcon {
    display: block;
    float: right;
}

ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
}

ul.topnav.responsive {
    position: relative;
}

ul.topnav.responsive li {
    display: inline;
    float: none;
}
    
ul.topnav.responsive li a {
    display: block;
    text-align: left;
}  

input[type="text"] {
    width: 320px;
}

.skillsItem {
  font-size: 20px;
}
    }
